<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                                 http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop.xsd">

    <beans>
        <!--监听用户变化aop pointcut-->
        <!--save-->
        <aop:config>
            <aop:aspect id="userSaveAspect" ref="streamlineAspect" order="2">
                <aop:after-returning
                    pointcut-ref="userSavePointcut"
                    returning="user"
                    method="insert"
                />
            </aop:aspect>
            <aop:aspect id="userSaveAspect" ref="streamlineAspect" order="2">
                <aop:after-returning
                    pointcut-ref="userSavePointcut"
                    returning="users"
                    method="insertBatch"
                />
            </aop:aspect>
        </aop:config>
        <!--update-->
        <aop:config>
            <aop:aspect id="userUpdateAspect" ref="streamlineAspect" order="2">
                <aop:after-returning
                    pointcut-ref="userUpdatePointcut"
                    returning="user"
                    method="update"
                />
            </aop:aspect>
            <aop:aspect id="userUpdateAspect" ref="streamlineAspect" order="2">
                <aop:after-returning
                    pointcut-ref="userUpdatePointcut"
                    returning="users"
                    method="updateBatch"
                />
            </aop:aspect>
        </aop:config>
        <!--delete-->
        <aop:config>
            <aop:aspect id="userDeleteAspect" ref="streamlineAspect" order="2">
                <aop:after
                    pointcut-ref="userDeletePointcut"
                    method="delete"
                />
            </aop:aspect>
            <aop:aspect id="userDeleteAspect" ref="streamlineAspect" order="2">
                <aop:after
                    pointcut-ref="userDeleteBatchPointcut"
                    method="delete"
                />
            </aop:aspect>
        </aop:config>
    </beans>

</beans>
