<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <beans profile="dev">
        <context:property-placeholder ignore-unresolvable="true"
                                      location="classpath:conf/core/mongo/mongo-dev.properties" />
    </beans>

    <beans profile="test">
        <context:property-placeholder ignore-unresolvable="true" local-override="true"
                                      properties-ref="pepPropertyPlaceholderConfigurerMongo"
                                      location="classpath:conf/core/mongo/mongo-test.properties"/>
        <bean id="pepPropertyPlaceholderConfigurerMongo"
              class="com.proper.enterprise.platform.core.placeholder.PEPPropertyPlaceholderConfigurer" init-method="init">
            <property name="location" value="classpath:conf/core/mongo/mongo-test.properties"/>
            <property name="names" value="mongodb.database"/>
        </bean>
    </beans>

    <beans profile="production">
        <context:property-placeholder ignore-unresolvable="true"
                                      location="classpath:conf/core/mongo/mongo-production.properties" />
    </beans>

</beans>
