<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/data/mongo
                           http://www.springframework.org/schema/data/mongo/spring-mongo.xsd"
       default-lazy-init="true">

    <bean id="hikariConfig" class="com.zaxxer.hikari.HikariConfig">
        <property name="dataSourceClassName" value="${database.driverClassName}" />
        <property name="minimumIdle" value="${database.minIdle}" />
        <property name="maximumPoolSize" value="${database.maxPoolSize}" />
        <property name="idleTimeout" value="${database.idleTimeout}" />
        <property name="autoCommit" value="${database.autoCommit}" />
        <property name="dataSourceProperties">
            <value>
                url      = ${database.url}
                user     = ${database.username}
                password = ${database.password}
            </value>
        </property>
    </bean>

    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
        <constructor-arg ref="hikariConfig" />
    </bean>

    <mongo:mongo-client host="${mongodb.host}" port="${mongodb.port}"
                        credentials="${mongodb.username}:${mongodb.password}@${mongodb.database}" />

</beans>
