<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty name="host" source="spring.data.mongodb.host"/>
    <springProperty name="port" source="spring.data.mongodb.port"/>
    <springProperty name="database" source="spring.data.mongodb.database"/>
    <springProperty name="username" source="spring.data.mongodb.username"/>
    <springProperty name="password" source="spring.data.mongodb.password"/>
    <springProperty name="replica" source="pep.core.mongo.replica-set"/>
    <appender name="mongo" class="com.proper.enterprise.platform.core.mongo.logback.MongoDBAppender">
        <connectionSource class="com.proper.enterprise.platform.core.mongo.logback.MongoDBConnectionSource">
            <host>${host}</host>
            <port>${port}</port>
            <database>${database}</database>
            <username>${username}</username>
            <password>${password}</password>
            <replica>${replica}</replica>
            <collection>LOGS</collection>
        </connectionSource>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%5p [%d{yy-MM-dd-HH:mm:ss}] %40.40c:%4L - %m%n</pattern>
        </encoder>
    </appender>

    <logger name="com.proper" level="trace">
        <appender-ref ref="mongo" />
        <appender-ref ref="console" />
    </logger>

    <logger name="ROOT" level="debug">
        <appender-ref ref="console" />
    </logger>

</configuration>
