# ignore duplicated configurations in pep-test module
pep-test/src/main/resources/conf/
pep-test/src/main/resources/spring/

# ignore temp files and folders
.DS_Store
.zip

# ignore eclipse config files and folders
.settings
.project
.classpath

# ignore build related 
.gradle
build
bin

# ignore generate scripts
init_mongo_for_proper_dfs.js

# ignore IntellJ IDEA files and folders
.idea/
*.iml
out/
