# ignore duplicated configurations in pep-test module
subprojects/pep-test/src/main/resources/conf/
subprojects/pep-test/src/main/resources/spring/


# ignore temp files and folders
.DS_Store
.zip
*.bak

# ignore eclipse config files and folders
.settings
.project
.classpath

# ignore build related
.gradle
build
bin

# ignore generate scripts
init_mongo_for_proper_dfs.js

# ignore IntellJ IDEA files and folders
.idea/
*.iml
*.ipr
*.iws
out/

# ignore MANIFEST.MF
MANIFEST.MF
