<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <bean id="apiSecret" class="com.proper.enterprise.platform.auth.jwt.APISecret" />

    <bean id="jwtService" class="com.proper.enterprise.platform.auth.jwt.JWTService">
        <property name="secret" ref="apiSecret" />
    </bean>

    <bean id="jwtVerifyFilter" class="com.proper.enterprise.platform.auth.jwt.filter.JWTVerifyFilter">
        <property name="jwtService" ref="jwtService" />
    </bean>

</beans>