<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/util
                           http://www.springframework.org/schema/util/spring-util.xsd" profile="test">

    <bean id="pepJobList" primary="true" class="java.util.ArrayList">
        <constructor-arg>
            <util:list>
                <bean id="simpleTrigger1" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
                    <property name="jobDetail">
                        <bean class="com.proper.enterprise.platform.schedule.cluster.PEPMethodInvokingJobDetailFactoryBean">
                            <property name="targetBeanName" value="businessService"/>
                            <property name="targetMethod" value="firstBlood" />
                            <property name="concurrent" value="false"/>
                        </bean>
                    </property>
                    <!-- delay 0.1 seconds -->
                    <property name="startDelay" value="100"/>
                    <!-- repeat every 0.2 seconds -->
                    <property name="repeatInterval" value="200"/>
                </bean>
                <bean id="simpleTrigger2" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
                    <property name="jobDetail">
                        <bean class="com.proper.enterprise.platform.schedule.cluster.PEPMethodInvokingJobDetailFactoryBean">
                            <property name="targetBeanName" value="businessService"/>
                            <property name="targetMethod" value="doubleKill" />
                            <property name="concurrent" value="false"/>
                        </bean>
                    </property>
                    <!-- delay 0 seconds -->
                    <property name="startDelay" value="0"/>
                    <!-- repeat every 0.1 seconds -->
                    <property name="repeatInterval" value="100"/>
                </bean>
                <bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
                    <property name="jobDetail">
                        <bean class="com.proper.enterprise.platform.schedule.cluster.PEPMethodInvokingJobDetailFactoryBean">
                            <property name="targetBeanName" value="businessService"/>
                            <property name="targetMethod" value="tripleKill" />
                            <property name="concurrent" value="false"/>
                        </bean>
                    </property>
                    <!-- run every second -->
                    <property name="cronExpression" value="* * * * * ?"/>
                </bean>
            </util:list>
        </constructor-arg>
    </bean>

</beans>
