<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <bean name="tableRelation" class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <util:map map-class="java.util.HashMap">
                    <entry key="nodeA" value="pep_auth_users"/>
                    <entry key="nodeB" value="pep_auth_users_roles"/>
                    <entry key="datas">
                        <array value-type="java.lang.String">
                            <value>id</value>
                            <value>user_id</value>
                        </array>
                    </entry>
                </util:map>
                <util:map map-class="java.util.HashMap">
                    <entry key="nodeA" value="pep_auth_roles"/>
                    <entry key="nodeB" value="pep_auth_users_roles"/>
                    <entry key="datas">
                        <array value-type="java.lang.String">
                            <value>id</value>
                            <value>role_id</value>
                        </array>
                    </entry>
                </util:map>

                <util:map map-class="java.util.HashMap">
                    <entry key="nodeA" value="pep_auth_menus"/>
                    <entry key="nodeB" value="pep_auth_roles_menus"/>
                    <entry key="datas">
                        <array value-type="java.lang.String">
                            <value>id</value>
                            <value>menu_id</value>
                        </array>
                    </entry>
                </util:map>
                <util:map map-class="java.util.HashMap">
                    <entry key="nodeA" value="pep_auth_roles"/>
                    <entry key="nodeB" value="pep_auth_roles_menus"/>
                    <entry key="datas">
                        <array value-type="java.lang.String">
                            <value>id</value>
                            <value>role_id</value>
                        </array>
                    </entry>
                </util:map>

                <util:map map-class="java.util.HashMap">
                    <entry key="nodeA" value="pep_auth_menus"/>
                    <entry key="nodeB" value="pep_auth_menus_resources"/>
                    <entry key="datas">
                        <array value-type="java.lang.String">
                            <value>id</value>
                            <value>menu_id</value>
                        </array>
                    </entry>
                </util:map>
                <util:map map-class="java.util.HashMap">
                    <entry key="nodeA" value="pep_auth_resources"/>
                    <entry key="nodeB" value="pep_auth_menus_resources"/>
                    <entry key="datas">
                        <array value-type="java.lang.String">
                            <value>id</value>
                            <value>res_id</value>
                        </array>
                    </entry>
                </util:map>

                <util:map map-class="java.util.HashMap">
                    <entry key="nodeA" value="pep_auth_roles"/>
                    <entry key="nodeB" value="pep_auth_groups_roles"/>
                    <entry key="datas">
                        <array value-type="java.lang.String">
                            <value>id</value>
                            <value>role_id</value>
                        </array>
                    </entry>
                </util:map>
                <util:map map-class="java.util.HashMap">
                    <entry key="nodeA" value="pep_auth_usergroups"/>
                    <entry key="nodeB" value="pep_auth_groups_roles"/>
                    <entry key="datas">
                        <array value-type="java.lang.String">
                            <value>id</value>
                            <value>group_id</value>
                        </array>
                    </entry>
                </util:map>

                <util:map map-class="java.util.HashMap">
                    <entry key="nodeA" value="pep_auth_users"/>
                    <entry key="nodeB" value="pep_auth_groups_users"/>
                    <entry key="datas">
                        <array value-type="java.lang.String">
                            <value>id</value>
                            <value>user_id</value>
                        </array>
                    </entry>
                </util:map>
                <util:map map-class="java.util.HashMap">
                    <entry key="nodeA" value="pep_auth_usergroups"/>
                    <entry key="nodeB" value="pep_auth_groups_users"/>
                    <entry key="datas">
                        <array value-type="java.lang.String">
                            <value>id</value>
                            <value>user_group_id</value>
                        </array>
                    </entry>
                </util:map>

                <util:map map-class="java.util.HashMap">
                    <entry key="nodeA" value="pep_auth_resources"/>
                    <entry key="nodeB" value="pep_auth_resources_datarestrains"/>
                    <entry key="datas">
                        <array value-type="java.lang.String">
                            <value>id</value>
                            <value>resource_id</value>
                        </array>
                    </entry>
                </util:map>
                <util:map map-class="java.util.HashMap">
                    <entry key="nodeA" value="pep_auth_datarestrains"/>
                    <entry key="nodeB" value="pep_auth_resources_datarestrains"/>
                    <entry key="datas">
                        <array value-type="java.lang.String">
                            <value>id</value>
                            <value>datarestrain_id</value>
                        </array>
                    </entry>
                </util:map>

                <util:map map-class="java.util.HashMap">
                    <entry key="nodeA" value="pep_push_device"/>
                    <entry key="nodeB" value="pep_auth_users"/>
                    <entry key="datas">
                        <array value-type="java.lang.String">
                            <value>userid</value>
                            <value>id</value>
                        </array>
                    </entry>
                </util:map>

                <util:map map-class="java.util.HashMap">
                    <entry key="nodeA" value="pep_push_msg"/>
                    <entry key="nodeB" value="pep_auth_users"/>
                    <entry key="datas">
                        <array value-type="java.lang.String">
                            <value>userid</value>
                            <value>id</value>
                        </array>
                    </entry>
                </util:map>

                <util:map map-class="java.util.HashMap">
                    <entry key="nodeA" value="pep_push_user"/>
                    <entry key="nodeB" value="pep_auth_users"/>
                    <entry key="datas">
                        <array value-type="java.lang.String">
                            <value>userid</value>
                            <value>id</value>
                        </array>
                    </entry>
                </util:map>

            </list>
        </constructor-arg>
    </bean>

</beans>
