<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
                           http://www.springframework.org/schema/jdbc
                           http://www.springframework.org/schema/jdbc/spring-jdbc-4.1.xsd"
       default-lazy-init="true">

    <bean id="hikariConfig" class="com.zaxxer.hikari.HikariConfig">
        <property name="dataSourceClassName" value="${datasource.driverClassName}" />
        <property name="minimumIdle" value="${datasource.minIdle}" />
        <property name="maximumPoolSize" value="${datasource.maxPoolSize}" />
        <property name="idleTimeout" value="${datasource.idleTimeout}" />
        <property name="autoCommit" value="${datasource.autoCommit}" />
        <property name="dataSourceProperties">
            <value>
                url      = ${datasource.url}
                user     = ${datasource.username}
                password = ${datasource.password}
            </value>
        </property>
    </bean>

    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
        <constructor-arg ref="hikariConfig" />
    </bean>

    <jdbc:initialize-database data-source="dataSource">
        <jdbc:script location="classpath*:sql/users.sql"/>
        <jdbc:script location="classpath*:sql/roles.sql"/>
        <jdbc:script location="classpath*:sql/resources.sql"/>
        <jdbc:script location="classpath*:sql/users-roles.sql"/>
        <jdbc:script location="classpath*:sql/roles-resources.sql"/>
    </jdbc:initialize-database>

</beans>