<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
                           http://www.springframework.org/schema/data/jpa
                           http://www.springframework.org/schema/data/jpa/spring-jpa-1.8.xsd"
       default-lazy-init="true">

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="packagesToScan" value="com.proper.**.entity" />
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
        </property>
        <property name="jpaProperties">
            <value>
                hibernate.cache.region.factory_class        = ${hibernate.cache.region.factory_class}
                hibernate.cache.use_query_cache             = ${hibernate.cache.use_query_cache}
                hibernate.cache.use_second_level_cache      = ${hibernate.cache.use_second_level_cache}
                hibernate.current_session_context_class     = ${hibernate.current_session_context_class}
                hibernate.dialect                           = ${hibernate.dialect}
                hibernate.ejb.naming_strategy               = ${hibernate.ejb.naming_strategy}
                hibernate.format_sql                        = ${hibernate.format_sql}
                hibernate.generate_statistics               = ${hibernate.generate_statistics}
                hibernate.hbm2ddl.auto                      = ${hibernate.hbm2ddl.auto}
                hibernate.query.substitutions               = ${hibernate.query.substitutions}
                hibernate.show_sql                          = ${hibernate.show_sql}
                jdbc.use_scrollable_resultset               = ${jdbc.use_scrollable_resultset}
                net.sf.ehcache.configurationResourceName    = ${net.sf.ehcache.configurationResourceName}
                net.sf.ehcache.hibernate.cache_lock_timeout = ${net.sf.ehcache.hibernate.cache_lock_timeout}
            </value>
        </property>
    </bean>
    
    <!-- Spring Data JPA -->
    <jpa:repositories base-package="com.proper.**.repository" transaction-manager-ref="transactionManager" entity-manager-factory-ref="entityManagerFactory"/>

</beans>