<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/jdbc
                           http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

    <beans profile="dev">
        <context:property-placeholder ignore-unresolvable="true"
                                      location="classpath:conf/webapp/datasource/datasource-dev.properties" />
        <jdbc:initialize-database data-source="dataSource">
            <jdbc:script location="classpath*:sql/users.sql" encoding="UTF-8"/>
            <jdbc:script location="classpath*:sql/roles.sql" encoding="UTF-8"/>
            <jdbc:script location="classpath*:sql/resources.sql" encoding="UTF-8"/>
            <jdbc:script location="classpath*:sql/users-roles.sql" encoding="UTF-8"/>
            <jdbc:script location="classpath*:sql/roles-resources.sql" encoding="UTF-8"/>
        </jdbc:initialize-database>
    </beans>

    <beans profile="test">
        <context:property-placeholder ignore-unresolvable="true"
                                      location="classpath:conf/webapp/datasource/datasource-test.properties" />
    </beans>

    <beans profile="production">
        <context:property-placeholder ignore-unresolvable="true"
                                      location="classpath:conf/webapp/datasource/datasource-production.properties" />
        <!-- TODO 产品中数据初始化方式可能需要提供多种形式 -->
        <jdbc:initialize-database data-source="dataSource">
            <jdbc:script location="classpath*:sql/users.sql" encoding="UTF-8"/>
            <jdbc:script location="classpath*:sql/roles.sql" encoding="UTF-8"/>
            <jdbc:script location="classpath*:sql/resources.sql" encoding="UTF-8"/>
            <jdbc:script location="classpath*:sql/users-roles.sql" encoding="UTF-8"/>
            <jdbc:script location="classpath*:sql/roles-resources.sql" encoding="UTF-8"/>
        </jdbc:initialize-database>
    </beans>

</beans>
