<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-4.1.xsd">

    <import resource="dal/applicationContext-datasource.xml" />
    <import resource="dal/applicationContext-jpa.xml" />

    <beans profile="dev">
        <context:property-placeholder location="classpath:conf/webapp/database/webapp-database-dev.properties" ignore-unresolvable="true" />
    </beans>

    <beans profile="test">
        <context:property-placeholder location="classpath:conf/webapp/database/webapp-database-test.properties" ignore-unresolvable="true" />
    </beans>

    <beans profile="production">
        <context:property-placeholder location="classpath:conf/webapp/database/webapp-database-production.properties" ignore-unresolvable="true" />
    </beans>

</beans>