pep-mysql:
  image: mysql
  volumes:
    - ./mysql/data:/var/lib/mysql
  environment:
    - MYSQL_ROOT_PASSWORD=Proper123
    - MYSQL_DATABASE=pep
    - MYSQL_USER=pep
    - MYSQL_PASSWORD=pep
  command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
pep-mongo:
  image: mongo
  volumes:
    - ./mongo/data:/data/db
pep-redis:
  image: redis
  volumes:
    - ./redis/data:/data
    - ./redis/redis.conf:/usr/local/etc/redis/redis.conf
  command: redis-server /usr/local/etc/redis/redis.conf --appendonly yes
pep-server:
  image: propersoft/pep
  volumes:
    - ./tomcat/webapps:/usr/local/tomcat/webapps
    - ./tomcat/logs:/usr/local/tomcat/logs
  links:
    - pep-mongo:mongo
    - pep-mysql:mysql
    - pep-redis:redis
  environment:
    - JAVA_OPTS=-server -XX:PermSize=512m -XX:MaxPermSize=2048m -Xms512m -Xmx4096m
pep-nginx:
  image: nginx
  volumes:
    - ./nginx/nginx.conf:/etc/nginx/nginx.conf
  links:
    - pep-server:pep
  ports:
    - "9090:80"
