<!DOCTYPE html>
<html lang="en" ng-app="pep">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="bower_components/angular-material-data-table/dist/md-data-table.css">
    <link rel="stylesheet" href="asset/app.css">
</head>
<body layout="column" ng-controller="AppCtrl">
    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <md-button ng-click="toggleSidenav('menu')" class="md-icon-button">
                <md-icon aria-label="Menu" md-svg-icon="images/icons/menu.svg"></md-icon>
            </md-button>
            <h1 flex="20">PEP</h1>
            <h2 flex="70">{{ title }}</h2>
            <md-button class="md-icon-button" aria-label="Search">
                <md-icon md-svg-icon="images/icons/menu.svg"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Quit">
                <md-icon md-svg-icon="images/icons/menu.svg"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <div layout="row" flex>
        <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="menu">
            <md-toolbar>
                <h1 class="md-toolbar-tools">Menu</h1>
            </md-toolbar>
            <md-content>
                <md-input-container>
                    <label>Quick Search</label>
                    <input ng-model="quickSearch">
                </md-input-container>
            </md-content>
            <md-list flex>
                <md-list-item ng-repeat="res in resources" ng-click="clickMenu(res);">
                    <span ng-bind="res.name"></span>
                </md-list-item>
            </md-list>
        </md-sidenav>
        <div layout="column" flex id="content">
            <md-content ng-view flex layout-padding></md-content>
        </div>
    </div>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-material-data-table/dist/md-data-table.js"></script>

    <script src="app.js"></script>
    <script src="views/resources/resources.js"></script>
</body>
</html>