<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="classpath:config/push/push.properties" ignore-unresolvable="true"/>

    <!-- 推送工具类 -->
    <bean id="pepPusher" class="com.proper.enterprise.platform.push.client.PusherApp">
        <property name="pushUrl" value="${pep.push.pushUrl}"/>
        <property name="appkey" value="${pep.push.properpushAppkey}"/>
        <property name="secureKey" value="${pep.push.properpushSecert}"/>
        <property name="async" value="true"/>
    </bean>

</beans>
