<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>编辑资源</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="images/icons/menu.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content style="width:800px;max-height:810px;">
        <div layout>
            <md-input-container flex>
                <label>名称</label>
                <input ng-model="res.name" required md-maxlength="30">
            </md-input-container>
        </div>
        <div layout>
            <md-input-container flex>
                <label>URL</label>
                <input ng-model="res.url" required>
            </md-input-container>
            <md-input-container flex>
                <label>分类</label>
                <input ng-model="res.method">
            </md-input-container>
        </div>
        <div layout>
            <md-input-container flex>
                <label>备注</label>
                <textarea ng-model="res.remark" columns="1" md-maxlength="150"></textarea>
            </md-input-container>
        </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button class="md-raised md-primary" ng-click="save()">保存</md-button>
        <md-button class="md-raised" ng-click="cancel()">取消</md-button>
    </div>
</md-dialog>