<div layout="row">
    <md-card flex="15">
        <md-content>
            <md-input-container>
                <label>tree</label>
            </md-input-container>
        </md-content>
    </md-card>
    <md-card flex>
        <md-data-table-toolbar ng-show="!filter.show && !selected.length">
            <h2 class="md-title">资源列表</h2>
            <div flex></div>
            <md-button class="md-icon-button" ng-click="filter.show = true" aria-label="Search" title="搜索">
                <md-icon md-svg-icon="images/icons/ic_search_black_18px.svg"></md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="addItem($event)" aria-label="New" title="新建">
                <md-icon md-svg-icon="images/icons/ic_add_black_18px.svg"></md-icon>
            </md-button>
        </md-data-table-toolbar>
        <md-data-table-toolbar ng-show="filter.show && !selected.length">
            <md-input-container flex md-no-float style="padding-bottom: 0px;">
                <md-icon md-svg-src="images/icons/ic_search_black_18px.svg"></md-icon>
                <input type="text" ng-model="query.filter" placeholder="search">
            </md-input-container>
            <md-button class="md-icon-button" ng-click="filter.show = false" aria-label="Close" title="关闭">
                <md-icon md-svg-icon="images/icons/ic_close_black_18px.svg"></md-icon>
            </md-button>
        </md-data-table-toolbar>
        <md-data-table-toolbar ng-show="selected.length" class="alternate">
            <h2 class="md-title">选中 {{selected.length}} 项</h2>
            <div flex></div>
            <md-button class="md-icon-button" ng-show="selected.length == 1" aria-label="Edit" ng-click="editItem($event)" title="编辑">
                <md-icon md-svg-icon="images/icons/ic_edit_black_18px.svg"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Delete" title="删除">
                <md-icon md-svg-icon="images/icons/ic_delete_black_18px.svg"></md-icon>
            </md-button>
        </md-data-table-toolbar>

        <md-data-table-container>
            <table md-data-table md-row-select="selected" md-progress="deferred">
                <thead md-order="query.order" md-trigger="onorderchange">
                    <tr>
                        <th name="名称" order-by="name"></th>
                        <th name="序号"></th>
                        <th name="URL" order-by="url"></th>
                        <th name="分类" order-by="method"></th>
                        <th name="备注"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr md-auto-select ng-repeat="res in resources.data | filter: query.filter | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">
                        <td>{{res.name}}</td>
                        <td>{{resources.data.indexOf(res) + 1}}</td>
                        <td>{{res.url}}</td>
                        <td>{{res.method}}</td>
                        <td>abcdefghijklmnopqrstuvwxyz</td>
                    </tr>
                </tbody>
            </table>
        </md-data-table-container>

        <md-data-table-pagination md-label="query.label" md-row-select="[10,20,30,40,50]"
                                  md-limit="query.limit" md-page="query.page" md-total="{{resources.count}}"
                                  md-trigger="onpagechange"></md-data-table-pagination>
    </md-card>
</div>