<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/jdbc
                           http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

    <beans profile="dev,production">
        <jdbc:initialize-database data-source="dataSource" ignore-failures="ALL">
            <jdbc:script location="classpath*:sql/datadics.sql" encoding="UTF-8"/>
        </jdbc:initialize-database>
    </beans>

    <beans>
        <bean id="messageSource"
              class="com.proper.enterprise.platform.sys.i18n.AntPatternReloadableResourceBundleMessageSource">
            <property name="defaultEncoding" value="UTF-8" />
            <property name="useCodeAsDefaultMessage" value="true" />
            <property name="basename">
                <value>classpath*:i18n/**/*-i18n.properties</value>
            </property>
        </bean>
    </beans>

</beans>
