<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:oxm="http://www.springframework.org/schema/oxm"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/oxm
                           http://www.springframework.org/schema/oxm/spring-oxm.xsd" default-lazy-init="true">


    <context:property-placeholder location="classpath:conf/pay/wechat/pay-wechat.properties" ignore-unresolvable="true"/>

    <oxm:jaxb2-marshaller id="unmarshallWechatOrderRes">
        <oxm:class-to-be-bound name="com.proper.enterprise.platform.pay.wechat.model.WechatOrderRes"/>
    </oxm:jaxb2-marshaller>
    <oxm:jaxb2-marshaller id="unmarshallWechatNoticeRes">
        <oxm:class-to-be-bound name="com.proper.enterprise.platform.pay.wechat.model.WechatNoticeRes"/>
    </oxm:jaxb2-marshaller>
    <oxm:jaxb2-marshaller id="unmarshallWechatRefundRes">
        <oxm:class-to-be-bound name="com.proper.enterprise.platform.pay.wechat.model.WechatRefundRes"/>
    </oxm:jaxb2-marshaller>
    <oxm:jaxb2-marshaller id="unmarshallWechatPayQueryRes">
        <oxm:class-to-be-bound name="com.proper.enterprise.platform.pay.wechat.model.WechatPayQueryRes"/>
    </oxm:jaxb2-marshaller>
    <oxm:jaxb2-marshaller id="unmarshallWechatRefundQueryRes">
        <oxm:class-to-be-bound name="com.proper.enterprise.platform.pay.wechat.model.WechatRefundQueryRes"/>
    </oxm:jaxb2-marshaller>

</beans>
