<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean" lazy-init="false">
        <property name="hibernateProperties">
            <value>
                hibernate.cache.provider_class          = ${hibernate.cache.provider_class}
                hibernate.cache.region.factory_class    = ${hibernate.cache.region.factory_class}
                hibernate.cache.use_query_cache         = ${hibernate.cache.use_query_cache}
                hibernate.cache.use_second_level_cache  = ${hibernate.cache.use_second_level_cache}
                hibernate.connection.provider_class     = ${hibernate.connection.provider_class}
                hibernate.current_session_context_class = ${hibernate.current_session_context_class}
                hibernate.dialect                       = ${hibernate.dialect}
                hibernate.format_sql                    = ${hibernate.format_sql}
                hibernate.generate_statistics           = ${hibernate.generate_statistics}
                hibernate.hikari.dataSource.password    = ${datasource.password}
                hibernate.hikari.dataSource.url         = ${datasource.url}
                hibernate.hikari.dataSource.user        = ${datasource.username}
                hibernate.hikari.dataSourceClassName    = ${datasource.driverClassName}
                hibernate.hikari.idleTimeout            = ${datasource.idleTimeout}
                hibernate.hikari.maximumPoolSize        = ${datasource.maxPoolSize}
                hibernate.hikari.minimumIdle            = ${datasource.minIdle}
                hibernate.hbm2ddl.auto                  = ${hibernate.hbm2ddl.auto}
                hibernate.query.substitutions           = ${hibernate.query.substitutions}
                hibernate.show_sql                      = ${hibernate.show_sql}
                jdbc.use_scrollable_resultset           = ${hibernate.jdbc.use_scrollable_resultset}
            </value>
        </property>
        <property name="packagesToScan" value="com.proper" />
    </bean>

</beans>