<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd"
       default-lazy-init="true">

    <bean id="hikariConfig" class="com.zaxxer.hikari.HikariConfig">
        <property name="dataSourceClassName" value="${datasource.driverClassName}" />
        <property name="minimumIdle" value="${datasource.minIdle}" />
        <property name="maximumPoolSize" value="${datasource.maxPoolSize}" />
        <property name="idleTimeout" value="${datasource.idleTimeout}" />
        <property name="autoCommit" value="${datasource.autoCommit}" />
        <property name="dataSourceProperties">
            <value>
                url      = ${datasource.url}
                user     = ${datasource.username}
                password = ${datasource.password}
            </value>
        </property>
    </bean>

    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
        <constructor-arg ref="hikariConfig" />
    </bean>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="packagesToScan" value="com.proper.**.entity" />
        <property name="jpaProperties">
            <value>
                hibernate.cache.provider_class          = ${hibernate.cache.provider_class}
                hibernate.cache.region.factory_class    = ${hibernate.cache.region.factory_class}
                hibernate.cache.use_query_cache         = ${hibernate.cache.use_query_cache}
                hibernate.cache.use_second_level_cache  = ${hibernate.cache.use_second_level_cache}
                hibernate.current_session_context_class = ${hibernate.current_session_context_class}
                hibernate.dialect                       = ${hibernate.dialect}
                hibernate.format_sql                    = ${hibernate.format_sql}
                hibernate.generate_statistics           = ${hibernate.generate_statistics}
                hibernate.hbm2ddl.auto                  = ${hibernate.hbm2ddl.auto}
                hibernate.query.substitutions           = ${hibernate.query.substitutions}
                hibernate.show_sql                      = ${hibernate.show_sql}
                jdbc.use_scrollable_resultset           = ${hibernate.jdbc.use_scrollable_resultset}
            </value>
        </property>
    </bean>

</beans>